<!DOCTYPE HTML>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Library Fragments</title>
</head>
<body>
<div class="pt-2" th:fragment="library-menu">
    <nav class="navbar navbar-expand-lg bg-dark bg-gradient rounded">
        <div class="container-fluid">
            <span class="navbar-brand" href="#">
                <i class="bi-book" style="font-size: 1.5rem; color: cornflowerblue;"></i>
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Úvodná stránka</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Knihy
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/all-books}">Zoznam kníh</a></li>
                            <li><a class="dropdown-item" th:href="@{/add-book}">Pridaj novú knihu</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Autori
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/all-authors}">Zoznam autorov</a></li>
                            <li><a class="dropdown-item" th:href="@{/add-author}">Pridaj autora</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Čitatelia
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/all-patrons}">Zoznam čitateľov</a></li>
                            <li><a class="dropdown-item" th:href="@{/add-patron}">Pridaj čitateľa</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="copyright">
    &copy; 2023 Ján Kavan
</div>
</body>
</html>