<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/library-layout :: main-fragment(
                                                ~{::title},~{},
                                                ~{:: #header-content},
                                                ~{:: #main-content}
                                               )}">
<head>
    <title>Autor</title>
</head>

<body>
<div id="header-content">
    Autor
</div>

<div id="main-content">
    <div class="p-2 bg-dark bg-opacity-50 rounded">
        <form action="#"
              th:action="@{/author-input-data}"
              th:object="${authorDto}"
              method="post">
            <input th:field="*{id}" type="hidden"/>
            <div class="mb-3">
                <label for="authorName" class="form-label">Meno autora</label>
                <input type="text" th:field="*{name}" class="form-control" id="authorName">
            </div>
            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary">Ulož autora</button>
            </div>
        </form>
    </div>
</div>

</body>

</html>