<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/library-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #books-static-resources},
                                                ~{:: #books-header},
                                                ~{:: #books-nav},
                                                ~{:: #books-main-content},
                                                ~{:: #books-footer}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Zoznam kníh</title>
    <th:block id="books-static-resources">
    </th:block>
</head>

<body>
<div id="books-nav" th:replace="~{/fragments/library-fragments :: library-menu}">
    Menu
</div>

<div id="books-header">
    Zoznam kníh v knižnici
</div>

<div id="books-main-content">
    <div class="p-2 bg-dark bg-opacity-50 rounded">
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped table-hover table-dark bg-opacity-50 mb-0">
                <thead class="text-center">
                <tr>
                    <th>Názov</th>
                    <th>Autor</th>
                    <th>Počet strán</th>
                    <th>Rok vydania</th>
                    <th>ISBN</th>
                    <th>Úprava záznamu</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.authorDto.name}"></td>
                    <td class="text-center" th:text="${book.pages}"></td>
                    <td class="text-center" th:text="${book.publishedYear}"></td>
                    <td class="text-center" th:text="${book.isbn}"></td>
                    <td class="text-center">
                        <a class="btn btn-primary">
                            Upraviť
                        </a>
                        <a class="btn btn-danger"
                           th:href="@{/deleteBookWithId/{id}(id=${book.id})}">
                            Vymazať
                        </a>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="books-footer" th:replace="~{/fragments/library-fragments :: copyright}">
    Footer
</div>
</body>

</html>