<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/library-layout :: main-fragment(
                                                ~{::title},~{},
                                                ~{:: #books-header},
                                                ~{:: #books-main-content}
                                               )}">
<head>
    <title>Zoznam kníh</title>
</head>

<body>
<div id="books-header">
    Zoznam kníh v knižnici
</div>

<div id="books-main-content">
    <div class="p-2 bg-dark bg-opacity-50 rounded">
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped table-hover mb-0">
                <thead class="text-center">
                <tr>
                    <th>Názov</th>
                    <th>Autor</th>
                    <th>Počet strán</th>
                    <th>Rok vydania</th>
                    <th>ISBN</th>
                    <th>Úprava záznamu</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.authorDto.name}"></td>
                    <td class="text-center" th:text="${book.pages}"></td>
                    <td class="text-center" th:text="${book.publishedYear}"></td>
                    <td class="text-center" th:text="${book.isbn}"></td>
                    <td>
                        <div class="d-flex justify-content-evenly">
                            <a class="icon-link link-primary"
                               th:href="@{/update-book/{id}(id=${book.id})}">
                                <i class="bi bi-pen" style="font-size: 1rem;"></i>
                            </a>
                            <a class="icon-link link-danger"
                               th:href="@{/deleteBookWithId/{id}(id=${book.id})}">
                                <i class="bi bi-trash" style="font-size: 1rem;"></i>
                            </a>
                        </div>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

</html>