<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/library-layout :: main-fragment(
                                                ~{::title},~{},
                                                ~{:: #newbook-header},
                                                ~{:: #newbook-main-content}
                                               )}">
<head>
    <title>Pridaj knihu</title>
</head>

<body>
<div id="newbook-header">
    Nová kniha
</div>

<div id="newbook-main-content">
    <div class="p-2 bg-dark bg-opacity-50 rounded">
        <form action="#"
              th:action="@{/book-input-data}"
              th:object="${bookDto}"
              method="post">
            <input th:field="*{id}" type="hidden"/>
            <div class="mb-3">
                <label for="inputBookTitle" class="form-label">Názov</label>
                <input type="text" th:field="*{title}" class="form-control" id="inputBookTitle">
            </div>

            <div class="col-md-3 mb-3">
                <label for="validationAuthor" class="form-label">Autor</label>
                <select class="form-select"
                        required
                        th:field="*{authorId}"
                        id="validationAuthor">
                    <option selected disabled value="">...</option>
                    <option
                            th:each="author : ${authors}"
                            th:text="${author.name}"
                            th:value="${author.id}"
                    ></option>
                </select>
                <div class="invalid-feedback">Vyber autora pre novú knihu</div>
            </div>

            <div class="mb-3">
                <label for="inputPages" class="form-label">Počet strán</label>
                <input type="number" th:field="*{pages}" class="form-control" id="inputPages">
            </div>

            <div class="mb-3">
                <label for="inputYear" class="form-label">Rok vydania</label>
                <input type="number" th:field="*{publishedYear}" class="form-control" id="inputYear">
            </div>

            <div class="mb-3">
                <label for="inputIsbn" class="form-label">ISBN</label>
                <input type="number" th:field="*{isbn}" class="form-control" id="inputIsbn">
            </div>

            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary">Ulož knihu</button>
            </div>
        </form>
    </div>
</div>

</body>

</html>